[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pyyaml = "*"
toml = "*"
dacite = "*"

[dev-packages]
types-pyyaml = "*"
types-toml = "*"
mypy = "*"
pydantic = "*"

[requires]
python_version = "3.12"
